*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

body{
    background-color: rgb(4, 0, 73);
    min-height: 100vh;
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.titulo{
    text-align: center;
}

.titulo h1{
    font-family: 'Condiment', cursive;
    font-size: 5rem;
    color: rgb(255, 208, 0);
}

.titulo p{
    font-style: oblique;
    font-size: .8rem;
}

.navegacion{
    width: 100%;
    display: flex;
    justify-content: center;
}

ul{
    list-style: none;
    text-align: center;
}

li a{
    display: block;
    width: 260px;         
    margin: 0.5rem auto;
    text-align: center;    
    text-decoration: none;
    background-color: rgb(4, 0, 73);
    padding: 0.7rem 1rem;
    border-radius: 5px;
    border: 1px solid rgb(255, 208, 0);
    transition: all .4s ease-in-out;
}



li a:hover{
    background-color: rgba(61, 57, 0, 0.723);
    transform: scale(1.1) rotate(10deg);
}
