*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*border: 1px solid rgba(255, 0, 0, 0.2);*/
    padding: 2px;
    margin: 0;
    color: rgb(255, 255, 255);
}

body{
    background-color: rgb(0, 0, 0);
}

main{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 80vh;
}

li a{
    margin-block: 0.5rem;
    display: inline-block;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    padding-inline: 1rem;
    padding-block: 0.7rem;
    border-radius: 5px;
    border: solid 1px rgb(255, 0, 81);
    transition: all .4s ease-in-out;
}

li a:hover{
    background-color: rgb(255, 0, 81);
    transform: scale(1.1) rotate(10deg);
}

ul{
    list-style-type: none;
}

.titulo h1{
   font-family: 'Condiment', cursive;
   font-size: 5rem;
   color: rgb(255, 0, 80);
}

.titulo p{
    text-align: center;
    font-style: oblique;
    font-size: .8rem;
}